<!-- Start Check Out Our Reviews -->
<section class="section-spacing bg-color5">
<div class="container">
    <div class="call-to-wrapper text-center">
        <h2 class="heading-2" style="color:#706c74">Check out our 5-star Google Reviews</h2>
        
        <p style="color:#706c74">The results speak for themselves. Most of our families are quite happy with our tutoring and stay on as long-term clients.</p>
        <img src="/assets/images/google-reviews.png" alt="academic tutoring bay area 5 star reviews" />
        <br></br>
        <ul class="call-to-btn-wrapper list-inline">
            <li class="list-inline-item"><a href="https://www.google.com/maps/place/Transform+Tutoring+-+Stanford,+Yale,+and+Johns+Hopkins+Tutors/@37.4501091,-122.1390995,15z/data=!4m2!3m1!1s0x0:0xd23722a53619f8b1?sa=X&ved=2ahUKEwj335nRsenoAhVRsZ4KHcaFD4sQ_BIwCnoECBMQCA" class="call-to-btn2 wow fadeInUp" target="_blank" data-wow-delay="500ms">Take Me to Google Reviews</a></li>
        </ul>
    </div>
</div>
</section>
<!-- End Call To Action Area -->