<section class="contact-area d-flex align-content-stretch themeix-highlight">

    <div class="col-6 contact-map themeix-highlight">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12897.995193970037!2d-86.81026772246754!3d36.171508191592416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885e3ffd6d9395f1%3A0xe1ca9f88eecd21e4!2sEast+Tennessee+Oral+%26+Maxillofacial+Surgery+-+Athens!5e0!3m2!1sen!2sbd!4v1543221316757" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-6 themeix-highlight bg-color3 section-spacing">
        <form class="contact-form wow fadeIn" data-wow-duration="1s" action="#">
            <div class="form-row">
                <div class="col-md-12">
                    <h5 class="contact-title heading-5 pl-5">Get In Touch</h5>
                    <script src="https://desk.zoho.com/portal/api/feedbackwidget/214703000001372015?orgId=652931404&displayType=embeded"></script>
                    <div id="zsfeedbackwidgetdiv"></div>
                </div>
            </div>
        </form>
    </div>
</section>