<section class="feature-area section-spacing bg-color1">
<div class="feature-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Contact </span>  with us<span class="section-label">C</span></h2>
            <p>Share processes and data securely on a need to know basis without the need for reconciliation it combines a permissione. Every website starts </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature-box2">
                    <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                        <div class="feature-logo4"></div>
                    </div>
                    <div class="feature-content">
                        <h4 class="heading-4">Address</h4>
                        <p>52906 Danyka Freeway Port Michaelborough, NU N7L8L2</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-box2">
                    <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                        <div class="feature-logo5"></div>
                    </div>
                    <div class="feature-content">
                        <h4 class="heading-4">Phone</h4>
                        <p>016 1347 885, 0117 900 9463 0113 134 9519</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">
                <div class="feature-box2">
                    <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                        <div class="feature-logo6"></div>
                    </div>
                    <div class="feature-content">
                        <h4 class="heading-4">Email</h4>
                        <p>companyinfo@gmail.com info@gmail..com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>