<section class="feature-area section-spacing bg-color1">
<div class="feature-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="heading-2"> <span class="section-style">Contact </span> us<span class="section-label">C</span></h2>
            <p>
            The first session is complimentary.

            That being said, due to demand, we occasionally have waitlists.
            <br></br>
            <h7>
                To check if we are accepting new students, reach us at contact@transformtutoring.org or (408)-469-4934.
            </h7>
            <br></br>   
            Need to reach us immediately? 
            <br></br>
            Our phone hours are 9 am - 10:30 pm PST, Monday - Friday and weekends.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="feature-box2">
                    <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                        <div class="feature-logo5"></div>
                    </div>
                    <div class="feature-content">
                        <h4 class="heading-4">Phone</h4>
                        <p>(408)-469-4934</p>                       
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="feature-box2">
                    <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                        <div class="feature-logo6"></div>
                    </div>
                    <div class="feature-content">
                        <h4 class="heading-4">Email</h4>
                        <p>contact@transformtutoring.org</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">
                 
                 <div class="feature-box2">
                    <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                        <div class="feature-logo4"></div>
                    </div>
                    <div class="feature-content">
                        <h4 class="heading-4">Address</h4>
                        <p>800 Newell Road, Palo Alto, CA 94303</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>