<!-- Start Domain Search Area -->
<div class="domain-search-area bg-color1">
<form class="domain-search-form">
    <div class="form-group">
        <div class="input-group">
            <input type="text" placeholder="Search your domain" class="form-control">
            <select class="domain-select">
            <option value="profile">.com</option>
            <option value="word">.org</option>
            <option value="hashtag">.net</option>
            </select>
            <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>
</div>
<!-- End Domain Search Area -->