<section class="faq-area round-shap section-spacing bg-color1">
    <div class="faq-wrapper">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <div class="faq-title">
                   <h2 class="heading-2">General Question About  Best Hosting Axiohost </h2>
                   <p>We live and breaWordPress. Our managed WordPress and WooCommerce hosting takes away cloud server related hassles so you can scale your website the way you want.</p>
                </div>
                <div class="faq-listed accordion" id="faq-listed">
                   <div class="faq-boxed">
                      <div class="faq-heading card-header" id="headingOne">
                         <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         how to buy domain cheap price ?
                         </button>
                      </div>
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faq-listed">
                         <div class="faq-body card-body">
                            live and breaWordPress. Our managed WordPress and Commerce hosting takes away cloud server related hassles 
                         </div>
                      </div>
                   </div>
                   <div class="faq-boxed">
                      <div class="faq-heading card-header" id="headingTwo">
                         <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         How do I renew muy domaain ?
                         </button>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-listed">
                         <div class="faq-body card-body">
                            live and breaWordPress. Our managed WordPress and Commerce hosting takes away cloud server related hassles 
                         </div>
                      </div>
                   </div>
                   <div class="faq-boxed">
                      <div class="faq-heading card-header" id="headingThree">
                         <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         How do i generate a CSR Code ?
                         </button>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq-listed">
                         <div class="faq-body card-body">
                            live and breaWordPress. Our managed WordPress and Commerce hosting takes away cloud server related hassles 
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
             <div class="faq-img wow fadeInDown" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInDown;">
                <img src="{{site.baseurl}}/assets/images/faq-img4.png" alt="faq img"></div>
             </div>
             </div>
          </div>
       </div>
 </section>