<section class="faq-area section-spacing bg-color1">
<div class="faq-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Freequently </span>Asked Question <span class="section-label">F</span></h2>
            <p>Share processes and data securely on a need to know basis without the need for  reconciliation it combines a permissione. Every website starts  </p>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="faq-listed accordion" id="faq-listed">
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingOne">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What's the benefit of  Business Hosting? 
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                        Sit amet mattis vulputate enim nulla aliquet. Sed risus ultricies tristique nulla.
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingTwo">
                        <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sit amet mattis vulputate enim nulla aliquet. 
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                        Egestas egestas fringilla phasellus faucibus. Rhoncus urna neque viverra justo nec
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingThree">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Does your hosting come with a control panel?
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq-listed">
                        <div class="faq-body card-body">Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="faq-listed accordion" id="faq-listed2">
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingOne2">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        Do you offer a money-back guarantee?
                        </button>
                    </div>
                    <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">Sit amet mattis vulputate enim nulla aliquet. Sed risus ultricies tristique nulla.
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingTwo2">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    Do you offer Windows based hosting?
                        </button>
                    </div>
                    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">
                        Orci a scelerisque purus semper eget duis at tellus at. Consequat interdum varius 
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingThree2">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                        Do I need multiple domain names?
                        </button>
                    </div>
                    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Faq Area -->