<!-- Start Feature Area-->
<section class="feature-area section-spacing bg-color1 {% if page.layout == 'page' %} bg-color3 {% endif %}">
<div class="feature-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"><span class="section-style">Why</span> Choose Us<span class="section-label">W</span></h2>
            <p>Share processes and data securely on a need to know basis without the need for  reconciliation it combines a permissione. Every website starts  </p>
        </div>
        <div class="feature-box-wrapper">
            <div class="feature-box-left">
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature_icon1"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">99.9% Up time</h4>
                    <p>Do eiusmod ncididunt labore more seens</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature_icon2"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Email marketing</h4>
                    <p>Do eiusmod ncididunt labore more seens</p>
                </div>
            </div>
            </div>
            <div class="feature-box-shap  wow fadeIn" data-wow-duration="1s"><img src="{{site.baseurl}}/assets/images/feature-shape.svg" alt="feature img"/></div>
            <div class="feature-box-right">
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class=" feature_icon3"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Unlimited storage</h4>
                    <p>Do eiusmod ncididunt labore more seens</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class=" feature_icon4"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Network protection</h4>
                    <p>Do eiusmod ncididunt labore more seens</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Feature Area -->