<section class="feature-area sec_minus-30 section-spacing bg-color1">
<div class="feature-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="feature-box2">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature-logo1"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Get Support</h4>
                    <p>Mean iaculis, purus neque luctus sem, pellentesque tempor libero nulla tristique lacus Class</p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="feature-box2">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature-logo2"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Ask Community</h4>
                    <p>Mean iaculis, purus neque luctus sem, pellentesque tempor libero nulla tristique lacus Class</p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="feature-box2">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature-logo3"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Submit Ticket</h4>
                    <p>Mean iaculis, purus neque luctus sem, pellentesque tempor libero nulla tristique lacus Class</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Feature Area -->