<!-- Start themeix-hosting Area -->
<section class="themeix-hosting-area round-shap pb-0 section-spacing bg-color1">
<div class="themeix-hosting-faq-wrapper">
    <div class="container">
        <div class="row">
            
            <!--
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="500ms">
                <img src="{{site.baseurl}}/assets/images/hbooks.png" class="nkcenter" alt="images icon" />       
            </div>
            -->
            <div class="col">
            <div class="inner-title">
                    <h2 class="heading-2">Quality Teaching </h2>
                    <p>We hand pick the <h7>top 3% of tutors</h7>, selecting only those who are particularly <h7>gifted at teaching</h7>.
                    
                    <br></br>

                    Rest assured, your student will be paired with <h7>South Bay’s most talented teachers</h7>.
            </div>
            <!-- Changed from feature-list-wrapper -->
            <div class="feature-list-nkwrapper">
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/icons-education/blackboard-1.png" alt="rigorous screening" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Rigorous Screening</h4>
                        <p>As of April 2020, 140 prospective tutors from top 10 universities have applied to teach at Transform, with <h7>only 5 selected</h7>. 
                        </p>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/icons-education/diploma.png" alt="reseller icon" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Stanford, Yale, and Johns Hopkins Tutors</h4>
                        <p>Our team is comprised of <h7>alumni, students, and PhD students</h7> from top 10 universities including Stanford, Yale, and Johns Hopkins.
                        </p>
                    </div>
                </div>
                <div class="feature-list list-inline">                    
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/icons-education/student.png" alt="reseller icon" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Top Talent</h4>
                        <p>Our tutors have placed in the <h7>top 1% on the SAT/ACT</h7> and are highly credentialed in the subjects they teach.
                        </p>
                        <br></br> 
                        <br></br>                          
                    </div>
                </div>             
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End themeix-hosting Area -->