<!-- Start themeix-hosting Area -->
<section class="themeix-hosting-area round-shap pb-0 section-spacing bg-color1">
<div class="themeix-hosting-faq-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft"  data-wow-delay="500ms">
                <img src="{{site.baseurl}}/assets/images/faq-img2.svg" alt="images icon" />
            
            </div>
            <div class="col-md-6">
            <div class="inner-title">
                    <h2 class="headeing-2">Quality Hosting </h2>
                    <p>We live and breathe WordPress. Our managed WordPress and WooCommerce hosting takes away cloud server related hassles so you can scale your website the way you want. Our  </p>
                </div>
            <div class="feature-list-wrapper">
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon.png" alt="reseller icon" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">High Speed Server</h4>
                        <p>WooCommerce hosting takes away cloud server related hassles </p>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon2.png" alt="reseller icon" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Easy Settings</h4>
                        <p>WooCommerce hosting takes away cloud server related hassles </p>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon3.png" alt="reseller icon" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Free upgrade</h4>
                        <p>WooCommerce hosting takes away cloud server related hassles </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End themeix-hosting Area -->