<div class="col section-spacing pt-0">
<div class="testimonial-slider">
    <div class="testimonial-item">
    <ul class="testimonial-img list-inline">
        <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/avatar1.png" alt="testimonial img" /></li>
        <li class="list-inline-item active"><img src="{{site.baseurl}}/assets/images/avatar2.png" alt="testimonial img" /></li>
        <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/avatar3.png" alt="testimonial img" /></li>
    </ul>
    <div class="testimonial-content">
        <div class="testimonial-name">
            <h4 class="heading-4">Dana Kocak</h4>
            <h6 class="heading-6">UX/UI Designer</h6>
        </div>
        <p>Hosting nisl id integer. Justo varius dictumst labore, vivamus lorem, morbi phasellus ante luctus, a tempor nullam porttitor turpis vel. Odio lacinia est, mollis tellus, blandit vulputate</p>
    </div>
    </div>
    <div class="testimonial-item">
    <ul class="testimonial-img list-inline">
        <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/avatar2.png" alt="testimonial img" /></li>
        <li class="list-inline-item active"><img src="{{site.baseurl}}/assets/images/avatar3.png" alt="testimonial img" /></li>
        <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/avatar1.png" alt="testimonial img" /></li>
    </ul>
    <div class="testimonial-content">
        <div class="testimonial-name">
            <h4 class="heading-4">Jack Mocky</h4>
            <h6 class="heading-6">PhP Developer</h6>
        </div>
        <p>Hosting nisl id integer. Justo varius dictumst labore, vivamus lorem, morbi phasellus ante luctus, a tempor nullam porttitor turpis vel. Odio lacinia est, mollis tellus, blandit vulputate</p>
    </div>
    </div>
    <div class="testimonial-item">
    <ul class="testimonial-img list-inline">
        <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/avatar3.png" alt="testimonial img" /></li>
        <li class="list-inline-item active"><img src="{{site.baseurl}}/assets/images/avatar1.png" alt="testimonial img" /></li>
        <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/avatar2.png" alt="testimonial img" /></li>
    </ul>
    <div class="testimonial-content">
        <div class="testimonial-name">
            <h4 class="heading-4">Tomaz Uttar</h4>
            <h6 class="heading-6">PhP Developer</h6>
        </div>
        <p>Hosting nisl id integer. Justo varius dictumst labore, vivamus lorem, morbi phasellus ante luctus, a tempor nullam porttitor turpis vel. Odio lacinia est, mollis tellus, blandit vulputate</p>
    </div>
    </div>
</div>	   
</div>