<div class="col-md-12 col-sm-12">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img6.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Alvis Douglas</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Posuere morbi leo urna molestie at elementum eu facilisis sed odio morbi quis commodo odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuere urna nec</p>
        </div>
    </div>
</div>