<!-- End Call To Action Area -->
<section class="pricing-plan-area  round-shap section-spacing sec_minus-30 bg-color1">
<div class="pricing-plan-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Choose </span> Pricing Plan<span class="section-label">C</span></h2>
            <p>Share processes and data securely on a need to know basis without the need for reconciliation it combines a permissione. Every website starts </p>
        </div>
        <ul class="pricing-plan-controls d-flex justify-content-center  nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
            <a class="nav-link controls-btn active" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab">Monthly</a>
            </li>
            <li class="nav-item">
            <a class="nav-link controls-btn" id="yearly-tab" data-toggle="tab" href="#yearly" role="tab">Yearly</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="pricing-plan-box wow fadeIn" data-wow-duration="1s">
                        <div class="pricing-header">
                        <h2 class="heading-2">Cloud Hosting</h2>
                        <h4 class="heading-4"><span class="pricing-big">10.00 <span class="pricing-small">$/month</span> </span></h4>
                        </div>
                        <ul class="pricing-body list-inline">
                        <li class="list-inline">1 GB storage</li>
                        <li class="list-inline">1 GB bandwidth</li>
                        <li class="list-inline">Free Email Addresses</li>
                        <li class="list-inline">24/7 security monitoring</li>
                        <li class="list-inline">24/7 technical support</li>
                        </ul>
                        <div class="pricing-footer"><a href="#" class="pricing-btn">Buy Now</a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pricing-plan-box wow fadeIn" data-wow-duration="1s">
                        <div class="pricing-header">
                        <h2 class="heading-2">VPS Hosting</h2>
                        <h4 class="heading-4"><span class="pricing-big">15.00 <span class="pricing-small">$/month</span> </span></h4>
                        </div>
                        <ul class="pricing-body list-inline">
                        <li class="list-inline">3 GB storage</li>
                        <li class="list-inline">2 GB bandwidth</li>
                        <li class="list-inline">Free Email Addresses</li>
                        <li class="list-inline">24/7 security monitoring</li>
                        <li class="list-inline">24/7 technical support</li>
                        </ul>
                        <div class="pricing-footer"><a href="#" class="pricing-btn">Buy Now</a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pricing-plan-box wow fadeIn" data-wow-duration="1s">
                        <div class="pricing-header">
                        <h2 class="heading-2">Reseller Hosting</h2>
                        <h4 class="heading-4"><span class="pricing-big">20.00 <span class="pricing-small">$/month</span> </span></h4>
                        </div>
                        <ul class="pricing-body list-inline">
                        <li class="list-inline">8 GB storage</li>
                        <li class="list-inline">5 GB bandwidth</li>
                        <li class="list-inline">Free Email Addresses</li>
                        <li class="list-inline">24/7 security monitoring</li>
                        <li class="list-inline">24/7 technical support</li>
                        </ul>
                        <div class="pricing-footer"><a href="#" class="pricing-btn">Buy Now</a></div>
                    </div>
                </div>
            </div>
            </div>
            <div class="tab-pane fade" id="yearly" role="tabpanel">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="pricing-plan-box">
                        <div class="pricing-header">
                        <h2 class="heading-2">Cloud Hosting</h2>
                        <h4 class="heading-4"><span class="pricing-big">85.00 <span class="pricing-small">/year</span> </span></h4>
                        </div>
                        <ul class="pricing-body list-inline">
                        <li class="list-inline">12 GB storage</li>
                        <li class="list-inline">3 GB bandwidth</li>
                        <li class="list-inline">Free Email Addresses</li>
                        <li class="list-inline">24/7 security monitoring</li>
                        <li class="list-inline">24/7 technical support</li>
                        </ul>
                        <div class="pricing-footer"><a href="#" class="pricing-btn">Buy Now</a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pricing-plan-box">
                        <div class="pricing-header">
                        <h2 class="heading-2">VPS Hosting</h2>
                        <h4 class="heading-4"><span class="pricing-big">95.00 <span class="pricing-small">/year</span> </span></h4>
                        </div>
                        <ul class="pricing-body list-inline">
                        <li class="list-inline">10 GB storage</li>
                        <li class="list-inline">6 GB bandwidth</li>
                        <li class="list-inline">Free Email Addresses</li>
                        <li class="list-inline">24/7 security monitoring</li>
                        <li class="list-inline">24/7 technical support</li>
                        </ul>
                        <div class="pricing-footer"><a href="#" class="pricing-btn">Buy Now</a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pricing-plan-box">
                        <div class="pricing-header">
                        <h2 class="heading-2">Reseller Hosting</h2>
                        <h4 class="heading-4"><span class="pricing-big">105.0 <span class="pricing-small">/year</span> </span></h4>
                        </div>
                        <ul class="pricing-body list-inline">
                        <li class="list-inline">15 GB storage</li>
                        <li class="list-inline">5 GB bandwidth</li>
                        <li class="list-inline">Free Email Addresses</li>
                        <li class="list-inline">24/7 security monitoring</li>
                        <li class="list-inline">24/7 technical support</li>
                        </ul>
                        <div class="pricing-footer"><a href="#" class="pricing-btn">Buy Now</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Pricing Plan Area -->