<!-- Start Service Area -->	

<style> 
    h7 {  
        font-weight: bold; 
    } 
</style>

<section class="service-area section-spacing sec_minus-30 bg-color3">
<div class="service-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> Why We're <span class="section-style">Different</span><span class="section-label">D</span></h2>
            
<!-- Removing subtitle
            <p>Share processes and data securely on a need to know basis without the need for  reconciliation it combines a permissione. Every website starts  </p>
-->
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo1 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Talented Teachers</h4>
                        <p>at your fingertips</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>We hand pick the <h7>top 3% of tutors</h7>, selecting only those who are particularly <h7>gifted at teaching</h7>.
                    
                    <br></br>
                    
                    As of April 2020, 140 prospective tutors applied to teach at Transform, with only 5 selected. 

                    <br></br>

                    Rest assured, your student will be paired with <h7>South Bay’s most talented teachers</h7>.

                    </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo2 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Free Sample Lesson</h4>
                        <p>to ensure a great fit</p>
                    </div>
                </div>
                <div class="service-content">
                    <p><h7>Tutor student fit is incredibly important.</h7> 

                        <br></br>
                    Your student can assess tutor-student fit with a complimentary sample lesson, to ensure the sessions add the value (s)he needs.

                    <br></br>
                    <br></br>
                    </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo3 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Reseller Hosting</h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Services of hosting  is iste natus error sit volupta tem accusantium doloremque, totam </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo4 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Dedicate Hosted </h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Hot dedicated hosting best services omnis iste natus error sit volupta tem accusantium, totam  </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo5 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">SS VPS Hosting</h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Supper hosting omnis iste natus error sit volupta tem accusantium doloremque laudantium, totam  </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo6 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Domain Name</h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>choose hosting omnis iste natus error sit volupta tem accusantium doloremque laudantium, totam </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Service Area -->	