<!-- Start Service Area -->	

<section class="service-area section-spacing sec_minus-30 bg-color3">
<div class="service-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="heading-2"> For <span class="section-style">Regular Students</span><span class="section-label">R</span></h2>
            
            <p>Our service isn't just tutoring. Some parents prefer we solely teach study habits to their student, while others prefer a combination. We work on any or all of the following components with each student:</p>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo">
                         <img src="{{site.url}}/assets/images/icons-education/book.png" alt="" title="#htmlcaption-0" />
                    </div>
                    <div class="service-heading">
                        <h4 class="heading-4">Daily Practice</h4>
                        <p>to keep your student accountable to daily practice</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>
                        Too often, students leave assignments until the last minute. 
                        <br></br>
                        Through proven accountability systems, we have your student working on extra practice <span style="font-weight:bold">every day</span> -- not just the day before the test.
                    </p>
                    
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo">
                        
                        <img src="{{site.url}}/assets/images/icons-education/bell.png" alt="" title="#htmlcaption-0" />

                    </div>
                    <div class="service-heading">
                        <h4 class="heading-4">Mid-Week Check In</h4>
                        <p>for continuous support</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Unlike other tutoring services, our <h7>tutors check in with your student midweek, every week</h7>, so your student isn’t left struggling until the next session.
                    <br></br>
                    This way, your student gets his/her questions answered on a regular basis, throughout the week.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo">
                        
                        <img src="{{site.url}}/assets/images/icons-education/exam.png" alt="" title="#htmlcaption-0" />

                    </div>
                    <div class="service-heading">
                        <h4 class="heading-4">Organization & Planning Skills</h4>
                        <p></p>
                    </div>
                </div>
                <div class="service-content">
                    <p>
                        Our tutors have thrived at top 10 universities because of their <h7>organization, planning, and broader executive functioning skills.</h7> 
                    <br></br>
                    If your student struggles in these areas, we can help him/her develop these lifelong skills.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo">
                        
                        <img src="{{site.url}}/assets/images/icons-education/school-material.png" alt="" title="#htmlcaption-0" />

                    </div>
                    <div class="service-heading">
                        <h4 class="heading-4">Study Habits & Time Management</h4>
                        <p></p>
                    </div>
                </div>
                <div class="service-content">
                    <p>
                        We match each student with an expert study strategist, who works on incrementally <h7>finding & fixing your child's fundamental study habits</h7>. These techniques range from learning how to take full advantage of textbooks to time management skills.
                        <br></br>
                        The goal is to build <h7>lifelong study & time management habits</h7> your student can take to college and beyond. 
                    </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo">
                        
                        <img src="{{site.url}}/assets/images/icons-education/university.png" alt="" title="#htmlcaption-0" />

                    </div>
                    <div class="service-heading">
                        <h4 class="heading-4">College Admissions & Career Guidance</h4>
                        <p>Translating interests to a plan</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>
                        Many of our students are uncertain about how their skills and interests translate into a college major. 
                        <br></br>
                        Others don’t know how to craft a compelling college admissions story with their extracurriculars and achievements. 
                        <br></br>
                        We help with each of these components and broader college & career planning.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo">
                        
                        <img src="{{site.url}}/assets/images/icons-education/student.png" alt="" title="#htmlcaption-0" />

                    </div>
                    <div class="service-heading">
                        <h4 class="heading-4">Emotional Support & Mentorship</h4>
                        <p></p>
                    </div>
                </div>
                <div class="service-content">
                    <p>
                        Students struggling academically may also struggle emotionally. 
                        <br></br>
                        We have tutors who have experience working with <h7>demoralized students</h7>. 
                        <br></br>
                        These tutors over time, focus on <h7>improving the student’s relationship with school and academics</h7>. Contact us for more details.
                        <br></br>  
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Service Area -->	