<section class="cart-area pt-0 sec_minus-30 section-spacing bg-color1">
<div class="container">
    <div class="section-title">
        <h2 class="headeing-2"> <span class="section-style">Buy </span>Awesome Staff<span class="section-label">B</span></h2>
        <p>Share processes and data securely on a need to know basis without the need for reconciliation it combines a permissione. Every website starts </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="shop-product-box wow fadeIn" data-wow-duration="1s">
            <div class="shop-product-img">
                <a href="#"><img src="{{site.baseurl}}/assets/images/shop-img5.png" alt="shop product img" /></a>
            </div>
            <div class="shop-product-desc">
                <div class="shop-product-overview">
                    <ul class="shop-product-rating list-inline">
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="shop-product-view list-inline">
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon3.png" alt="shop icon"/></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon2.png" alt="shop icon"/></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon.png" alt="shop icon"/></a>
                        </li>
                    </ul>
                </div>
                <h4><a href="#">Axiohost Mug</a></h4>
                <h6><del>$20</del><a href="#" class="price-discount">$12</a></h6>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="shop-product-box wow fadeIn" data-wow-duration="1s">
            <div class="shop-product-img">
                <a href="#"><img src="{{site.baseurl}}/assets/images/shop-img2.png" alt="shop product img"></a>
            </div>
            <div class="shop-product-desc">
                <div class="shop-product-overview">
                    <ul class="shop-product-rating list-inline">
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="shop-product-view list-inline">
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon3.png" alt="shop icon"></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon2.png" alt="shop icon"></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon.png" alt="shop icon"></a>
                        </li>
                    </ul>
                </div>
                <h4><a href="#">Axiohost Bag</a></h4>
                <h6><del>$60</del><a href="#" class="price-discount">$49</a></h6>
            </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-4">
            <div class="shop-product-box wow fadeIn" data-wow-duration="1s">
            <div class="shop-product-img">
                <a href="#"><img src="{{site.baseurl}}/assets/images/shop-img3.png" alt="shop product img"></a>
            </div>
            <div class="shop-product-desc">
                <div class="shop-product-overview">
                    <ul class="shop-product-rating list-inline">
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="shop-product-view list-inline">
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon3.png" alt="shop icon"></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon2.png" alt="shop icon"></a>
                        </li>
                        <li class="list-inline-item">
                        <a href="#"><img src="{{site.baseurl}}/assets/images/shop-icon.png" alt="shop icon"></a>
                        </li>
                    </ul>
                </div>
                <h4><a href="#">Axiohost Hat</a></h4>
                <h6><del>$15</del><a href="#" class="price-discount">$10</a></h6>
            </div>
            </div>
        </div>
    </div>
</div>
</section>