<!-- Start Sidebar Area -->
<div class="sidebar-area sidebar-right">
<h4 class="sidebar-title heading-4">Services</h4>
<ul style="list-style-type:none;">

    <li> SAT Prep </li>
    <li> Academic Tutoring </li>
    <li> SAT/ACT Test Prep </li>
    <li>  </li>
    <li> AP Test Prep </li>
    <li> SAT Subject Test Prep </li>
    <li> Summer Classes </li>
    <li> College Admissions Guidance </li>
    <li> Career Guidance </li>
    <li> Study Habit Improvement </li>
    <li> High School Readiness </li>
</ul>

<!-- NK Removed Categories section
<ul class="category-widget sidebar-widget list-group">
  {% for category in site.categories %}
  {% assign category_name = category[0] %}
    <li class="list-group-item">
        <a href="/category/{{ category_name | slugify }}/">{{ category_name | replace: "-", " " }}</a>
    </li>
    {% endfor %}
</ul>
-->

<!-- NK Removed Recent Blog section
<h4 class="sidebar-title heading-4">Recent Blog</h4>
<div class="recent-widget sidebar-widget">
  {% for posts in site.posts limit:"3" %}
    <div class="recent-wrapper">
        <a class="recent-img">
        <img src="{{posts.post_image}}" alt="{{posts.title}}">
        </a>
        <div class="recent-details">
            <h6 class="heading-6"> <a href="{{posts.url}}">{{ posts.title }}</a> </h6>
            <ul class="recent-meta list-inline">
            <li class="list-inline-item">{{ posts.date | date_to_long_string }}</li>
            </ul>
        </div>
    </div>
   {% endfor %}
</div>
-->
<!-- NK Removed Popular Tags section
<h4 class="sidebar-title heading-4">Popular Tags</h4>
<div class="tag-widget sidebar-widget list-inline">
    {{site | tag_cloud }}
</div>
-->
</div>