<section class="signature-area mt-5 pb-0 section-spacing bg-color1">
<div class="signature-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6  wow fadeIn" data-wow-duration="1s">
            <div class="signature-text">
            <div class="inner-title">
                    <h2 class="headeing-2">Our Hosting </h2>
                    <p>The tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit</p>
                </div>
                <ul class="signature-list list-inline">
                    <li class="signature-img list-inline-item"><img src="{{site.baseurl}}/assets/images/signature.png" alt="signature icon"/></li>
                    <li class="signature-name list-inline-item"><p>Jhon Doe <span>CEO, Themeix</span></p></li>
                </ul>
            </div>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="1s"><img src="{{site.baseurl}}/assets/images/faq-img3.png" alt="image icon"/></div>
        </div>
      </div>
    </div>
</section>
<!-- End  Area -->