<!-- Start Slider -->
<section class="slider-area bg-color2">
<div class="banner-carousel2 owl-carousel owl-theme">
    <!-- Slide Item -->
    <div class="slide-item slider-bg1" style="background-image:url(assets/images/slider-bg-1.jpg);">
        <div class="auto-container clearfix">
            <!-- Content Box -->
            <div class="content-box center-align">
                <div class="inner alternate">
                    <h2 class="style-two">Premium Hosting Plan</h2>
                    <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</div>
                    <div class="link-box">
                        <a href="#" class="theme-btn btn-style-seven">More About Us <span class="arrow flaticon-next-8"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slide Item -->
    <div class="slide-item slider-bg2" style="background-image:url(assets/images/slider-bg-2.jpg);">
        <div class="auto-container clearfix">
            <!-- Content Box -->
            <div class="content-box center-align">
                <div class="inner alternate">
                    <h2 class="style-two">Basic Hosting Plan</h2>
                    <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</div>
                    <div class="link-box">
                        <a href="#" class="theme-btn btn-style-seven">More About Us <span class="arrow flaticon-next-8"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Slide Item -->
    <div class="slide-item slider-bg3" style="background-image:url(assets/images/slider-bg-3.jpg);">
        <div class="auto-container clearfix">
            <!-- Content Box -->
            <div class="content-box center-align">
                <div class="inner alternate">
                    <h2 class="style-two">Business Hosting Plan</h2>
                    <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</div>
                    <div class="link-box">
                        <a href="#" class="theme-btn btn-style-seven">More About Us <span class="arrow flaticon-next-8"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Slider Area -->