<ul class="single-share list-inline float-right">
    <li class="list-inline-item">Share</li>
    <li class="list-inline-item">
        <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ posts.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" >
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a  href="https://twitter.com/intent/tweet?text={{ posts.title }}&url={{ site.url }}{{ site.baseurl }}{{ posts.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a  href="http://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{posts.post_image }}&description=" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest" >
        <i class="fa fa-pinterest-p"></i>
        </a>
    </li>
</ul>