<section class="testimonial-area section-spacing bg-color3">
<div class="testimonial-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">What`S  </span>Client Says<span class="section-label">W</span></h2>
            <p>Share processes and data securely on a need to know basis without the need for  reconciliation it combines a permissione. Every website starts  </p>
        </div>

        <div class="testimonial-slider">
            <div class="testimonial-item">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
                            <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/comment-img2.png" alt="testimonial img"/></div>
                            <div class="testimonial-content">
                                <h4 class="heading-4"><a href="#">Vit Lee</a></h4>
                                <h6 class="heading-6">CEO, Tomato</h6>
                                <p>Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis convallis  .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
                            <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/comment-img1.png" alt="testimonial img"/></div>
                            <div class="testimonial-content">
                                <h4 class="heading-4"><a href="#">Fiz Lam</a></h4>
                                <h6 class="heading-6">Ux/Ui designer</h6>
                                <p>Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis convallis  .</p>
                            </div>
                        </div>
                    </div>
            </div>					
            </div>					<div class="testimonial-item">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
                            <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img2.png" alt="testimonial img"/></div>
                            <div class="testimonial-content">
                                <h4 class="heading-4"><a href="#">H. Robert</a></h4>
                                <h6 class="heading-6">Founder, Viralzig</h6>
                                <p>Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis convallis  .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
                            <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img.png" alt="testimonial img" /></div>
                            <div class="testimonial-content">
                                <h4 class="heading-4"><a href="#">Nao Kocak</a></h4>
                                <h6 class="heading-6">Ux/Ui designer</h6>
                                <p>Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis convallis  .</p>
                            </div>
                        </div>
                    </div>
            </div>					
            </div>				  
        </div>
    </div>
</div>
</section>
<!-- End Testimonial Area -->