<div class="col-md-4 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img7.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Tracey Wolf</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Hosting nisl id integer. Justo varius dictumst labore, vivamus lorem, morbi phasellus ante</p>
        </div>
    </div>
</div>			
<div class="col-md-4 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img8.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Marquise Hills</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Hosting nisl id integer. Justo varius dictumst labore, vivamus lorem, morbi phasellus ante</p>
        </div>
    </div>
</div>		
<div class="col-md-4 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img9.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Lou Johnston</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Hosting nisl id integer. Justo varius dictumst labore, vivamus lorem, morbi phasellus ante</p>
        </div>
    </div>
</div>