<div class="col-md-4 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img3.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Asha Dickens</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
        </div>
    </div>
</div>	
<div class="col-md-4 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img4.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Herminia Lowe</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Velit scele risque in dictum non conse ctetur a erat nam at lectus urna duis convallis convallis tellus id interdum velit laoreet id donec ultrices tincidunt arcution commodo nulla</p>
        </div>
    </div>
</div>	
<div class="col-md-4 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img5.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Viola Bauch</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat</p>
        </div>
    </div>
</div>