<div class="col-md-6 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Dana Kocak</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum non consectetur a erat nam at lectus urna duis convallis  .</p>
        </div>
    </div>
</div>		
<div class="col-md-6 col-sm-6">
    <div class="testimonial-box wow fadeIn" data-wow-duration="1s">
        <div class="testimonial-img"><img src="{{site.baseurl}}/assets/images/testimonial-img2.png" alt="testimonial img" /></div>
        <div class="testimonial-content">
            <h4 class="heading-4"><a href="#">Mariam Will</a></h4>
            <h6 class="heading-6">Ux/Ui designer</h6>
            <p>Augue interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper </p>
        </div>
    </div>
</div>